In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
read=pd.read_csv(r'C:\Users\Rahul\framingham.csv')

In [23]:
read.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [24]:
read.shape

(4238, 16)

In [25]:
read=read.drop(["age"],axis=1,inplace=False)
read.head()

,male,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [26]:
read1=read.drop(read.index[[2]],axis=0)
read.head()

,male,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [27]:
read1.describe()

,male,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,4237.000000,4132.000000,4237.000000,4208.000000,4184.000000,4237.000000,4237.000000,4237.000000,4187.000000,4237.000000,4237.000000,4218.000000,4236.000000,3849.000000,4237.000000
mean,0.429077,1.979187,0.493982,9.000475,0.029637,0.005900,0.310597,0.025726,236.719608,132.353552,82.894147,25.802117,75.879131,81.969862,0.151994
std,0.495003,1.019800,0.500023,11.920304,0.169603,0.076596,0.462793,0.158335,44.595477,22.040572,11.912172,4.080589,12.028009,23.962335,0.359058
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,107.000000,83.500000,48.000000,15.540000,44.000000,40.000000,0.000000
25%,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,206.000000,117.000000,75.000000,23.070000,68.000000,71.000000,0.000000
50%,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,234.000000,128.000000,82.000000,25.400000,75.000000,78.000000,0.000000
75%,1.000000,3.000000,1.000000,20.000000,0.000000,0.000000,1.000000,0.000000,263.000000,144.000000,90.000000,28.040000,83.000000,87.000000,0.000000
max,1.000000,4.000000,1.000000,70.000000,1.000000,1.000000,1.000000,1.000000,696.000000,295.000000,142.500000,56.800000,143.000000,394.000000,1.000000

In [28]:
read1.isnull().sum()

male                 0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [29]:
read1.glucose.value_counts().index[0]
read1.glucose.mode()

0    75.0
dtype: float64

In [30]:
read1.iloc[:,:]=read1.iloc[:,:].apply(lambda x:x.fillna(x.value_counts().index[0]))
read1.isnull().sum

<bound method DataFrame.sum of        male  education  currentSmoker  cigsPerDay  BPMeds  prevalentStroke  \
0     False      False          False       False   False            False
1     False      False          False       False   False            False
3     False      False          False       False   False            False
4     False      False          False       False   False            False
5     False      False          False       False   False            False
6     False      False          False       False   False            False
7     False      False          False       False   False            False
8     False      False          False       False   False            False
9     False      False          False       False   False            False
10    False      False          False       False   False            False
11    False      False          False       False   False            False
12    False      False          False       False   False            False
13    False      False          False       False   False            False
14    False      False          False       False   False            False
15    False      False          False       False   False            False
16    False      False          False       False   False            False
17    False      False          False       False   False            False
18    False      False          False       False   False            False
19    False      False          False       False   False            False
20    False      False          False       False   False            False
21    False      False          False       False   False            False
22    False      False          False       False   False            False
23    False      False          False       False   False            False
24    False      False          False       False   False            False
25    False      False          False       False   False            False
26    False      False          False       False   False            False
27    False      False          False       False   False            False
28    False      False          False       False   False            False
29    False      False          False       False   False            False
30    False      False          False       False   False            False
...     ...        ...            ...         ...     ...              ...
4208  False      False          False       False   False            False
4209  False      False          False       False   False            False
4210  False      False          False       False   False            False
4211  False      False          False       False   False            False
4212  False      False          False       False   False            False
4213  False      False          False       False   False            False
4214  False      False          False       False   False            False
4215  False      False          False       False   False            False
4216  False      False          False       False   False            False
4217  False      False          False       False   False            False
4218  False      False          False       False   False            False
4219  False      False          False       False   False            False
4220  False      False          False       False   False            False
4221  False      False          False       False   False            False
4222  False      False          False       False   False            False
4223  False      False          False       False   False            False
4224  False      False          False       False   False            False
4225  False      False          False       False   False            False
4226  False      False          False       False   False            False
4227  False      False          False       False   False            False
4228  False      False          False       False   False            False
4229  False      False          False       False   False            False
4230  False      False          False       False   False            False
4231  False      False          False       False   False            False
4232  False      False          False       False   False            False
4233  False      False          False       False   False            False
4234  False      False          False       False   False            False
4235  False      False          False       False   False            False
4236  False      False          False       False   False            False
4237  False      False          False       False   False            False

      prevalentHyp  diabetes  totChol  sysBP  diaBP    BMI  heartRate  \
0            False     False    False  False  False  False      False
1            False     False    False  False  False  False      False
3            False     False    False  False  False  False      False
4            False     False    False  False  False  False      False
5            False     False    False  False  False  False      False
6            False     False    False  False  False  False      False
7            False     False    False  False  False  False      False
8            False     False    False  False  False  False      False
9            False     False    False  False  False  False      False
10           False     False    False  False  False  False      False
11           False     False    False  False  False  False      False
12           False     False    False  False  False  False      False
13           False     False    False  False  False  False      False
14           False     False    False  False  False  False      False
15           False     False    False  False  False  False      False
16           False     False    False  False  False  False      False
17           False     False    False  False  False  False      False
18           False     False    False  False  False  False      False
19           False     False    False  False  False  False      False
20           False     False    False  False  False  False      False
21           False     False    False  False  False  False      False
22           False     False    False  False  False  False      False
23           False     False    False  False  False  False      False
24           False     False    False  False  False  False      False
25           False     False    False  False  False  False      False
26           False     False    False  False  False  False      False
27           False     False    False  False  False  False      False
28           False     False    False  False  False  False      False
29           False     False    False  False  False  False      False
30           False     False    False  False  False  False      False
...            ...       ...      ...    ...    ...    ...        ...
4208         False     False    False  False  False  False      False
4209         False     False    False  False  False  False      False
4210         False     False    False  False  False  False      False
4211         False     False    False  False  False  False      False
4212         False     False    False  False  False  False      False
4213         False     False    False  False  False  False      False
4214         False     False    False  False  False  False      False
4215         False     False    False  False  False  False      False
4216         False     False    False  False  False  False      False
4217         False     False    False  False  False  False      False
4218         False     False    False  False  False  False      False
4219         False     False    False  False  False  False      False
4220         False     False    False  False  False  False      False
4221         False     False    False  False  False  False      False
4222         False     False    False  False  False  False      False
4223         False     False    False  False  False  False      False
4224         False     False    False  False  False  False      False
4225         False     False    False  False  False  False      False
4226         False     False    False  False  False  False      False
4227         False     False    False  False  False  False      False
4228         False     False    False  False  False  False      False
4229         False     False    False  False  False  False      False
4230         False     False    False  False  False  False      False
4231         False     False    False  False  False  False      False
4232         False     False    False  False  False  False      False
4233         False     False    False  False  False  False      False
4234         False     False    False  False  False  False      False
4235         False     False    False  False  False  False      False
4236         False     False    False  False  False  False      False
4237         False     False    False  False  False  False      False

      glucose  TenYearCHD
0       False       False
1       False       False
3       False       False
4       False       False
5       False       False
6       False       False
7       False       False
8       False       False
9       False       False
10      False       False
11      False       False
12      False       False
13      False       False
14      False       False
15      False       False
16      False       False
17      False       False
18      False       False
19      False       False
20      False       False
21      False       False
22      False       False
23      False       False
24      False       False
25      False       False
26      False       False
27      False       False
28      False       False
29      False       False
30      False       False
...       ...         ...
4208    False       False
4209    False       False
4210    False       False
4211    False       False
4212    False       False
4213    False       False
4214    False       False
4215    False       False
4216    False       False
4217    False       False
4218    False       False
4219    False       False
4220    False       False
4221    False       False
4222    False       False
4223    False       False
4224    False       False
4225    False       False
4226    False       False
4227    False       False
4228    False       False
4229    False       False
4230    False       False
4231    False       False
4232    False       False
4233    False       False
4234    False       False
4235    False       False
4236    False       False
4237    False       False

[4237 rows x 15 columns]>

In [31]:
read1.dtypes

male                 int64
education          float64
currentSmoker        int64
cigsPerDay         float64
BPMeds             float64
prevalentStroke      int64
prevalentHyp         int64
diabetes             int64
totChol            float64
sysBP              float64
diaBP              float64
BMI                float64
heartRate          float64
glucose            float64
TenYearCHD           int64
dtype: object

In [33]:
import statsmodels.formula.api as smf
logit_model=smf.logit('male~heartRate+diaBP+BMI+cigsPerDay+education+glucose',data=read1).fit()

Optimization terminated successfully.
         Current function value: 0.608251
         Iterations 5

In [34]:
type(logit_model)
logit_model.params

Intercept    -1.423702
heartRate    -0.032910
diaBP         0.013603
BMI           0.058241
cigsPerDay    0.067029
education     0.050482
glucose       0.003603
dtype: float64

In [35]:
logit_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                   male   No. Observations:                 4237
Model:                          Logit   Df Residuals:                     4230
Method:                           MLE   Df Model:                            6
Date:                Fri, 23 Aug 2019   Pseudo R-squ.:                  0.1095
Time:                        15:55:08   Log-Likelihood:                -2577.2
converged:                       True   LL-Null:                       -2894.1
                                        LLR p-value:                1.148e-133
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -1.4237      0.352     -4.047      0.000      -2.113      -0.734
heartRate     -0.0329      0.003    -10.883      0.000      -0.039      -0.027
diaBP          0.0136      0.003      4.423      0.000       0.008       0.020
BMI            0.0582      0.009      6.448      0.000       0.041       0.076
cigsPerDay     0.0670      0.003     20.838      0.000       0.061       0.073
education      0.0505      0.033      1.519      0.129      -0.015       0.116
glucose        0.0036      0.001      2.453      0.014       0.001       0.006
==============================================================================
"""

In [36]:
y_pred1=logit_model.predict(read1)
y_pred1

0       0.258423
1       0.197775
3       0.872959
4       0.566193
5       0.440511
6       0.463215
7       0.481873
8       0.300725
9       0.673637
10      0.231560
11      0.339476
12      0.365549
13      0.477971
14      0.254581
15      0.404036
16      0.519572
17      0.532059
18      0.338085
19      0.245398
20      0.698739
21      0.351684
22      0.445548
23      0.641025
24      0.735396
25      0.656888
26      0.330194
27      0.661915
28      0.430666
29      0.374992
30      0.874476
          ...
4208    0.432788
4209    0.380828
4210    0.255389
4211    0.848807
4212    0.870313
4213    0.360841
4214    0.350271
4215    0.435653
4216    0.597933
4217    0.195778
4218    0.328236
4219    0.312201
4220    0.224388
4221    0.187335
4222    0.426145
4223    0.211202
4224    0.318990
4225    0.867067
4226    0.344221
4227    0.609553
4228    0.746097
4229    0.610523
4230    0.485719
4231    0.257752
4232    0.402273
4233    0.400254
4234    0.875667
4235    0.456107
4236    0.347860
4237    0.233160
Length: 4237, dtype: float64

In [37]:
read1['pred_prob']=y_pred1
read1.head()

,male,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD,pred_prob
0,1,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0,0.258423
1,0,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0,0.197775
3,0,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1,0.872959
4,0,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0,0.566193
5,0,2.0,0,0.0,0.0,0,1,0,228.0,180.0,110.0,30.30,77.0,99.0,0,0.440511

In [38]:
read1.loc[read1.pred_prob>=0.5,"PValue"]=True
read1.head()

,male,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD,pred_prob,PValue
0,1,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0,0.258423,NaN
1,0,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0,0.197775,NaN
3,0,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1,0.872959,True
4,0,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0,0.566193,True
5,0,2.0,0,0.0,0.0,0,1,0,228.0,180.0,110.0,30.30,77.0,99.0,0,0.440511,NaN

In [40]:
confusion_matrix=pd.crosstab(read1['male'],read1.PValue)
confusion_matrix

PValue  True
male
0        444
1        860